---
import R2Image from '../ui/R2Image.astro';
import Heading from '../ui/Heading.astro';

import { getCollection } from 'astro:content';
import Container from '../ui/Container.astro';

const siteData = await getCollection('siteData');
const siteInfo = siteData[0].data;
const peopleTitle = siteInfo.peopleTitle;
const peopleSubtitle = siteInfo.peopleSubtitle;
const peopleText = siteInfo.peopleText;
const peopleImage = siteInfo.peopleImage;
const people = siteInfo.people;
---

<Container>
  <section class="my-20">
    <Heading class="mb-5" size="xl">{peopleTitle}</Heading>
    <div class="grid md:grid-cols-5">
      <R2Image
        class="col-span-2 mb-5 lg:mr-5"
        src={peopleImage}
        alt={peopleTitle}
        width={720}
        height={720}
      />

      <div class="md:col-span-3">
        <div>
          <Heading size="lg" class="mb-1">{peopleSubtitle}</Heading>
          <p class="leading-loose">
            {peopleText}
          </p>
        </div>

        <div
          class="mt-5 grid md:grid-cols-2 lg:grid-cols-3 items-center justify-center gap-4"
        >
          {
            people.map((person) => (
              <R2Image
                src={person.image}
                alt={person.name}
                width={480}
                height={480}
                class="w-full mx-auto"
              />
            ))
          }
        </div>
      </div>
    </div>
  </section>
</Container>
